<!DOCTYPE html>
<html ng-app="cards">

<head>
    <title>Na Verdade</title>
    <!-- Caracteres -->
    <meta charset=UTF-8>

    <!--Angular-->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>

    <!-- Bootstrap - CSS Javascript e JQuery -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


    <!--MediaQuery para esconder link do whatsapp no desktop | Ajustar Tamanho do Browser-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- JQuery do texto Missāo-->
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.0.2.min.js"> </script>

    <!-- Google Fonts-->
    <link href="https://fonts.googleapis.com/css?family=Abel|Dosis" rel="stylesheet">

    <!-- Meu CSS -->
    <link rel="stylesheet" type="text/css" href="style.css">


</head>

<body>


    <!-- Navegação -->
         <nav class="navbar navbar-inverse navbar-fixed-top navbar-custom">
       
            <div class="navbar-header">
                <a class="navbar-brand tituloCase" href="">Na Verdade</a>
                <button class="navbar-toggle glyphicon glyphicon-menu-hamburger" data-toggle="collapse" data-target="#naVerdade"></button>
            </div>
            <ul id="naVerdade" class="nav navbar-nav navbar-right collapse navbar-collapse">
                <li><a href="index.html">INICIO</a></li>
                <li><a data-toggle="collapse" data-target="#naVerdade" href="#about">SOBRE</a></li>
                <li><a data-toggle="collapse" data-target="#naVerdade" href="#learnmore">SAIBA MAIS</a></li>
                <li><a data-toggle="collapse" data-target="#naVerdade" href="#infocontact">CONTATO</a></li>
            </ul>
         </nav>

    

    <div class="container" ng-controller="CardsController">


        <div id="wraptop">
            <h1 id="header">Espera um pouco...</h1>
            <p class="tituloCor">Pesquise pelo termo ou pela fala que você quer corrigir.</p>
            <input type="text" ng-model="searchBox">
        </div>
        <div id="wrap" >
            <div id="list" class="list-unstyled">
                <div class="entry" ng-repeat="card in cards | filter:searchBox">
                    <div class="myth">{{card.myth}}</div>

                    <div class="info">{{card.info}}</div>
                   

                    <!-- Botão Fonte 1 -->

                    <button type="button" class="btn btn-default" data-toggle="modal" data-target="#01">FONTE</button>

                    <!-- Modal Fonte 1 -->
                    <div class="modal fade" id="01" tabindex="-1" role="dialog" aria-labelledby="01Label">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                    <h4 class="modal-title">Fontes | Artigos | Dados</h4>
                                </div>

                                <div class="modal-body" ng-repeat="card in cards">
                                    <p>{{card.fonte}}</p>
                                    <!--<p><a class="whatsapp" href="whatsapp://send?text=Olha só este artigo: http://blogdojuca.uol.com.br/2016/07/as-arquibancadas-da-torcedora-a-presenca-feminina-nos-estadios-brasileiros/ Via @NVDD">Envie por whatsapp</a></p>-->

                                </div>

                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

    

        <button id="btnCarregarMais" onclick="tirarEntryHide()" class="btn btn-default">Carregar mais</button>
        </div>




        <div id="about">
            <h1 class="tituloCor">Porque o na verdade existe:</h1><!--
                <h2>É comum ouvir <span class="holder-1"></span> todo tipo de afirmação <span class="holder-2"></span> sobre as mulheres.</h2>

                <h2>Na hora, o impulso pode ser deixar passar, mas é “deixando passar” que reforçamos uma fala de <span class="holder-3"></span>.</h2>

                 <h2> Neste site você pode buscar respostas para lidar com estas situações e fazer sua parte liderando a mudança de discurso.</h2>

 
            <p class="explicacao">O Na Verdade nasceu como o <a href="http://www.twitter.com/apdsrocha" target="_blank">meu</a> projeto final do <a href="http://www.reprograma.com.br" target="_blank">Reprograma</a> (uma iniciativa incrível para capacitar mulheres e apoiar a sua inclusão na indústria de tecnologia). Ele levou uma semana para ser pensado e três dias para existir em caráter experimental. Daqui para frente a ideia é faze-lo crescer e melhorar. Nesse esforço qualquer ajuda é <a data-target="#naVerdade" href="#infocontact">muito bem-vinda</a>.</p>
        </div>-->

        <script src="script.js"></script> 
    </body>

</html>