
body {
    font-family: 'Abel';
    font-size: 15px;
    color: #333;
    background-color: grey;
}
a {
    text-decoration: none;
    color: black;
}
a:link {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
h1 {
  font-family: 'Fjalla One';
  font-size: 40px;
  color: #333;
  margin-bottom: 50px;

}
h2 {
  font-family: 'Fjalla One';
  font-size: 30px;
  color: #333;
  margin-top: 40px;
  margin-bottom: 40px;
}
p {
  margin: 30px;
}


#wraptop {
  background-color: #F7F7F7;
  padding: 20px 40px 40px 20px;
  width: 100%;
  font-family: 'Abel';
  font-size: 20px;
  margin-top: 70px;
  display: center;
  text-align: center;
  list-style: none;
 }

#wrap {
  background-color: #F7F7F7;
  font-family: 'Abel';
  font-size: 20px;
  list-style: none;
 }
.list {
  background-color: #F7F7F7;
}

.filterinput {
  border-color: black;
  width: 100%;
  float: left;
 }

.myth {
  font-weight: bold;
  font-size: 25px;
 }

.entry {
  background-color: #F7F7F7;
  padding: 10px;
  margin-top: 5%;
  margin-right: 3%;
  width: 31.33%;
  height: 500px;
  float: left;
  text-align: left;
 }


 .entry:last-child {
   margin-right: 0;
 }

 .info {
  margin: 15px;
  font-size: 18px;
 }

#about { 
  background-color:  #F7F7F7;
  padding: 10% 5% 10% 5%;
  font-family: 'Fjalla One';
  font-size: 20px;
  text-align: center;
  margin-top: 10px;
 }

#learnmore {
  background-color:  #F7F7F7;
  padding: 20px 40px 300px 20px;  
  width: 100%;
  font-family: 'Fjalla One';
  font-size: 20px;
  list-style: none;
  margin-top: 10px;
  
}
.content {
  font-family: 'Abel';
  font-size: 20;
  padding: 20%, 10%, 20%, 10%;
 
}
.modal-title {
  color: red;
}

.whatsapp {
  color: red;
  font-size: 15px;
}

.pics {
  width: 200px;
  margin: 10px;
  float: left;
  
}
.button-margin {
  margin: 30px;
}

#contribute {
  background-color:  #292F33;
  padding: 10% 10% 10% 10%;
  width: 100%;
  text-align: center;
  margin-top: 10px;

}
.font {
  color: #F7F7F7;
}
#infocontact {
  background-color:  grey;
  padding: 10% 10% 10% 10%;
  font-family: 'Fjalla One';
  font-size: 30px;
  text-align: right;
  color: #F7F7F7;
  width: 100%;
}

.navbar-brand {
  font-family: 'Fjalla One';
  font-size: 30px;
 }
.navbar-custom {
  background-color: black;
  color: white;
  border-color: black;
  
}

.holder-1, .holder-2 , .holder-3 {
  color: red;
}


.colecao-lista li {
  margin: 20px;
  display: inline;
}

.biblioteca {
  display: none;

}

.biblioteca.visivel {
  display: block;
}


figure { 
  display: inline-block;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 30px;
  margin-right: 30px;
}
figcaption {
  text-align: center;
}


/* MediaQuery para mostrar share do whastapp no mobile e para ajuste das divs no mobile */
@media screen and (max-width:1400px)
{
    .whatsapp { }
}

@media (min-width:600px)
{
    .whatsapp { display:none; }
    
}


@media (max-width: 600px) {
  .entry {
    width: 100%;	
  }
}
